<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">MENU</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>カット</td>
        <td>3,900 yen</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>パーマ(カット込み)</td>
        <td>8,900 yen ~</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>カラー(カット込み)</td>
        <td>9,400 yen ~</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>ヘナカラー(カット込み)</td>
        <td>8,900 yen ~</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>酸性カラー(カット込み)</td>
        <td>8,900 yen ~</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>ストレート矯正(カット込み)</td>
        <td>11,000 yen ~</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>デジタルパーマ(カット込み)</td>
        <td>11,000 yen ~</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>パリジェンヌラッシュリフト<br>(次世代まつ毛パーマ)</td>
        <td>5,500 yen ~</td>
      </tr>
    </tbody>
  </table>
</div>